.header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  font-size: 1.8rem;
  align-items: center;
  padding: 0 2rem;
  a {
    text-decoration: none;
    color: white;
  }

  &__left {
    a {
      font-weight: 600;
    }
  }

  &__right {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    a {
      margin: 0 1rem;
      font-size: 1.5rem;
      height: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      transition: all 0.2s ease;
    }
    a:hover {
      border-bottom: 1px solid #fff;
    }
  }
}
