.songRow {
  display: flex;
  width: 56rem;
  height: 10rem;
  padding: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: rgba(192, 192, 192, 0.3);
    transform: translateY(-2rem) scale(1.03);
  }

  img {
    height: 100%;
  }

  &__text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    align-items: flex-start;
    width: 80%;
    span:nth-child(1) {
      font-size: 2rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
  }

  &__icon {
    transition: all 0.4s ease-in-out;
    font-size: 3rem;
    width: auto;
    height: 3rem;
    &:hover {
      transform: rotate(360deg);
    }
  }
}
