@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100dvh;
  height: 100dvh;
  width: 100vw;
  font-family: 'Julius Sans One', sans-serif;
}

#root {
  height: inherit;
  width: inherit;
}

#container {
  height: 90%;
  width: 100%;
  background-image: linear-gradient(to left bottom, rgba(0, 0, 0, 0.6), black),
    url('/public/images2.jpg');
  background-position: center;
  background-size: cover;
}

#header {
  height: 10%;
}
